@import '../../../scss/config.scss';

.login-page {
    background: $bg-image;
    height: 100%;
    width: 100%;
    margin-top: 0;
    background-size: 100% 130%;
    object-fit: cover;
    overflow: auto;
}

.login-container {
    padding: 3rem 4rem;
    margin:  5rem auto;
    text-align: center;
    width: fit-content;
    align-self: center;
}

.form-title  {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 10%;
    margin-bottom: 2rem;
    font-family: $font-title;
}

.logo-container {
    margin: 2.5rem 0 2rem 0;
}

@media (max-width: 1000px) {
    .login-container {
        width: 93%;
    }
}

@media (max-width: 600px) {
    .login-page {
        background-size: 150% 100%;
    }
}