/* GENERAL */

$bg-image: url('../assets/background.jpg');
$bg-button: #986A3E;

/* THEME LIGHT */
$bg-overlay-light: rgba(255, 255, 255, 0.4);
$bg-header-light: rgba(158, 152, 146, 0.6);
$bg-menu-light: rgba(207, 201, 196, 0.85);
$bg-widget-light: rgba(255, 255, 255, 0.8);
$typography-light: #3B281A;
$bg-button-hover-light: #6A4B2D;
$outline-light: #AC9E91;
$input-hover-light: #E4E0DB;

/* THEME DARK */
$bg-overlay-dark: rgba(0, 0, 0, 0.25);
$bg-header-dark: rgba(63, 56, 53, 0.9);
$bg-menu-dark: rgba(102, 97, 93, 0.85);
$bg-widget-dark: rgba(18, 12, 8, 0.8);
$bg-input-dark: rgba(72, 71, 70, 0.6);
$typography-dark: #FAFAFA;
$bg-button-hover-dark: #C69362;
$outline-dark: #BCB5AD;
$input-hover-dark: #66615D;

/* TYPOGRAPHY */
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Tenor Sans', sans-serif;
$font-title: 'Antic Didone', serif;

